[build]
  command = "eleventy"
  publish = "_site"

[functions]
  directory = "netlify/functions"

[build.environment]
  NODE_VERSION = "20.19.0"
  SECRETS_SCAN_OMIT_KEYS = "SANITY_PROJECT_ID,SANITY_DATASET"
