[build]
  command = "npm cache clean --force && npm ci --include=dev && npx eleventy"
  publish = "_site"

[functions]
  directory = "netlify/functions"

[build.environment]
  NODE_VERSION = "20.19.0"
  SECRETS_SCAN_OMIT_KEYS = "SANITY_PROJECT_ID,SANITY_DATASET"
