{% extends "layout.njk" %}

{% block content %}
  <main class="grid">
    {% for project in collections.project %}
      <a class="thumb" href="{{ project.url }}"
         data-what="{{ project.data.what | slug }}"
         data-who="{{ project.data.who | slug }}"
         data-where="{{ project.data.where | slug }}"
         data-when="{{ project.data.when | slug }}">
        <div class="thumb-img-wrapper">
          <img src="{{ project.data.images[0].image }}" alt="{{ project.data.images[0].alt or project.data.title }}">
        </div>
        <div class="thumb-text">
          <h2>{{ project.data.title }}</h2>
          {% if project.data.Kim %}<div class="thumb-who">{{ project.data.Kim }}</div>{% endif %}
          <p>
            {{ project.data.Nerede or project.data.location }}<br>
            <span class="thumb-year">{{ project.data['Ne Zaman'] or project.data.year }}</span>
          </p>
        </div>
      </a>
    {% endfor %}
  </main>
{% endblock %}
