{% extends "layout.njk" %}

{% block content %}
  <article class="project">
    {% block projectmeta %}
      <div class="project-meta">
        <h1>{{ title }}</h1>
        <div class="project-meta-info aligned-meta">
          {% if mimar %}<div class="project-meta-row"><span class="meta-label">Mimar:</span> <span class="meta-value">{{ mimar }}</span></div>{% endif %}
          {% if yer %}<div class="project-meta-row"><span class="meta-label">Yer:</span> <span class="meta-value">{{ yer }}</span></div>{% endif %}
          {% if tur %}<div class="project-meta-row"><span class="meta-label">Tür:</span> <span class="meta-value">{{ tur }}</span></div>{% endif %}
          {% if tarih %}<div class="project-meta-row"><span class="meta-label">Tarih:</span> <span class="meta-value">{{ tarih }}</span></div>{% endif %}
        </div>
      </div>
    {% endblock %}
    <div class="project-main project-main-centered">
      {% for img in images %}
        <img src="{{ img.image }}" alt="{{ img.alt | default(title) }}">
        {% if img.alt %}
          <div class="image-alt-text">{{ img.alt }}</div>
        {% endif %}
      {% endfor %}
      <div class="body">
        {{ content | safe }}
      </div>
    </div>
  </article>
  {% if footnote %}
    <div class="project-footnote">{{ footnote | safe }}</div>
  {% endif %}
{% endblock %}
