{% extends "layout.njk" %}

{% block content %}
  <article class="project">
    {% block projectmeta %}
      <div class="project-meta">
        <h1>{{ title }}</h1>
        <div class="project-meta-info">
          {% if Ne %}<div class="project-meta-row"><span class="meta-label">Ne:</span> {{ Ne }}</div>{% endif %}
          {% if Kim %}<div class="project-meta-row"><span class="meta-label">Kim:</span> {{ Kim }}</div>{% endif %}
          {% if Nerede %}<div class="project-meta-row"><span class="meta-label">Nerede:</span> {{ Nerede }}</div>{% endif %}
          {% if Ne Zaman %}<div class="project-meta-row"><span class="meta-label">Ne Zaman:</span> {{ Ne Zaman }}</div>{% endif %}
        </div>
      </div>
    {% endblock %}
    <div class="project-main project-main-centered">
      {% for img in images %}
        <img src="{{ img.image }}" alt="{{ img.alt | default(title) }}">
        {% if img.alt %}
          <div class="image-alt-text">{{ img.alt }}</div>
        {% endif %}
      {% endfor %}
      <div class="body">
        {{ content | safe }}
      </div>
    </div>
  </article>
  {% if footnote %}
    <div class="project-footnote">{{ footnote | safe }}</div>
  {% endif %}
{% endblock %}
